= link_to facebook_auth_path do
  .btn.btn-primary.btn-lg
    %i.fa.fa-facebook-official
    &nbsp;Sign in with Facebook

%br
%br
%h4 Or sign in with e-mail

.row
  .col-xs-4
    = simple_form_for(:session, url: create_with_password_path) do |form|
      = form.input(:email)
      = form.input(:password)
      %br
      = form.button :submit, "Sign in"
