.col-md-4
  .user-card
    .main
      .row
        .col-md-4
          .picture
            = link_to image_tag(user.picture), user
        .col-md-7.right
          %h3= link_to user.name, user
          .offer-count
            = link_to pluralize(user.proposals.count, 'Offer'), user
          .location
            <i class="fa fa-map-marker"></i>
            = user.location
          - if current_user
            .mail
              = mail_to user.email do |m|
                .btn.btn-small.btn-default
                  <i class="fa fa-envelope"></i>
            .facebook
              = link_to user.facebook_url do |u|
                .btn.btn-default
                  <i class="fa fa-facebook"></i>
        .col-md-1
          - if user == current_user
            = link_to edit_user_path(user), id: "edit-profile" do |u|
              .btn.btn-primary
                <i id="edit-profile" class="fa fa-pencil"></i>

    - if !user.about.nil?
      .info 
        = markdown(user.about)


  - if user == current_user and defined? show_create_link
    .proposal.new
      .main
        = link_to raw("<i class='fa fa-plus'></i> Create a new offer"), new_user_proposal_path(user)
