.col-md-4
  .user-card
    .main
      .row
        .col-xs-4
          .picture
            = link_to image_tag(avatar_url(user)), user
        .col-xs-7.right
          %h3= link_to user.name, user
          .proposal-count
            = link_to pluralize(user.offers.count, 'Offer'), user
            = link_to pluralize(user.wanteds.count, 'Wanteds'), user
          .location
            = fa_tag("map-marker")
            = user.location
          - if signed_in?
            .mail
              = mail_to user.email do |m|
                .btn.btn-small.btn-default
                  = fa_tag("envelope")
            - if user.linked_to_facebook?
              .facebook
                = link_to user.facebook_url do |u|
                  .btn.btn-default
                    = fa_tag("facebook")
        .col-xs-1
          - if user.current_user?
            = link_to edit_user_path(user), id: "edit-profile" do |u|
              .btn.btn-primary
                = fa_tag("pencil")

    .info
      = markdown(user.about)

  - if user.current_user? && defined? show_create_link
    = link_to(new_user_offer_path(user)) do
      .proposal.new
        .main
          = fa_tag("plus", text: "Create a new offer")
