.col-md-4
  .user-card
    .main
      .row
        .col-xs-4
          .picture
            = link_to image_tag(avatar_url(user)), user
        .col-xs-7.right
          %h3= link_to user.name, user
          .proposal-count
            = link_to pluralize(user.offers.count, 'Offer'), user
            = link_to pluralize(user.wanteds.count, name_for('wanted', capitalized: true)), user
          .location
            = fa_tag("map-marker")
            = user.location
          .user-profile-links
            = user.profile_link(:email, "envelope", new_tab: true)
            = user.profile_link(:facebook_url, "facebook", new_tab: true)
            = user.profile_link(:ea_profile, "external-link", public: true, new_tab: true)
        .col-xs-1
          - if user.current_user?
            = link_to edit_user_path(user), id: "edit-profile" do |u|
              .btn.btn-primary
                = fa_tag("pencil")

    .info
      - if local_assigns.has_key? :description_size
        = markdown(truncate(user.about, length: description_size))
      - else
        = markdown(user.about)

  - if user.current_user? && defined? show_create_link
    = link_to(new_user_offer_path(user)) do
      .proposal.new
        .main
          = fa_tag("plus", text: "Create a new offer")
