%h1 Edit my profile

.row
  .col-md-4
    = simple_form_for @user do |f|
      = f.error_notification
      = f.input :email, label: "E-mail"
      = f.input :location
      = f.input :about, :input_html => {:rows => 5}
      %br
      %br
      = f.button :submit, "Save"
