%h1 Edit my profile

.row
  .col-md-4
    = simple_form_for @user do |f|
      = f.error_notification
      = f.input :name
      = f.input :email, label: "E-mail (required to offer and request things)"
      = f.input :location
      = f.input :about, input_html: { rows: 5 }, label: "About (use Markdown for formatting)"
      = f.label "E-mail notifications"
      %br
      = f.simple_fields_for :subscriptions do |subscription|
        = subscription.label subscription.object.description
        = subscription.check_box :active, id: "new"
        %br
      %br
      %br
      = f.button :submit, "Save"
      = link_to "Delete Account", user_path(current_user), method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn btn-danger"
