- content_for :head do
  %link{ rel: "stylesheet", href: "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" }
  %link{ href: "http://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css", rel: "stylesheet" }
  %link{ href: "http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css", rel: "stylesheet" }
  %link{ href: "http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css", rel: "stylesheet" }
  %script{ src: "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" }
  %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js" }
  %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.js" }

.text-center
  %h2
    = link_to 'Community', users_path

- if @marker_data
  #map

  = javascript_tag do
    window.markerData = #{raw @marker_data.to_json};
  = javascript_include_tag "map"

%br
- @users.each_slice(3) do |users|
  .row
    - for user in users
      = render partial: "user", locals: { user: user, description_size: 150}

= paginate @users, theme: 'twitter-bootstrap-3'
