.text-center
  %h2 
    = link_to 'Community', users_path

- if @marker_data
  #map

  = javascript_tag do
    window.markerData = #{raw @marker_data.to_json};
  = javascript_include_tag "map"

%br
- @users.in_groups_of(3, false) do |users|
  .row
    - for user in users
      = render partial: "user", locals: { user: user, description_size: 150}

= paginate @users, theme: 'twitter-bootstrap-3'


