#map

= javascript_include_tag "leaflet/leaflet.awesome-markers"
= javascript_include_tag "leaflet/leaflet.markercluster"

- content_for :footer do
  = javascript_tag do
    window.markerData = #{raw @marker_data.to_json};
  = javascript_include_tag "map"
