= image_tag(@user.image)

%ul
  %li= @user.name
  %li= @user.location
  %li= mail_to(@user.email, "E-mail", target: "_blank")
  %li= link_to("Facebook", @user.facebook_profile)

%div= @user.about

- if @user == current_user
  = link_to "Edit my profile", edit_user_path(@user)
- else
  = link_to "#{@user.name}'s Offers", user_proposals_path(@user)
