%nav.navbar.navbar-default{ role: "navigation" }
  #footer
    .container
      %ul.nav.navbar-nav
        %li= link_to("About", about_path)
        %li= link_to("FAQ", faq_path)
        %li= link_to("Twitter", "https://twitter.com/Skillshare_im")
        %li= link_to("Code", "https://github.com/patbl/ea-skillshare")
        %li= mail_to("doesnotexist@skillshare.im", "Contact", target: "_blank")
