.container.header
  .row
    .col-sm-3
      .logo
        = link_to "SkillShare.im", root_path
    .col-sm-6
      .logos
        .icons
          = link_to fa_tag(offer_icon, tooltip: "Offers"), :offers, class: active?(offers_path)
          = link_to fa_tag(wanted_icon, tooltip: name_for('wanted', plural: true, capitalized: true)), :wanteds, class: active?(wanteds_path)
          = link_to raw('<i rel="tooltip" title="Community" class="fa fa-group"></i>'), :users, class: active?(users_path)

    .col-sm-3
      .right
        .btn-group
          - if signed_in?
            %ul.nav.navbar-nav
              %li
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  <i rel="tooltip" title="New" class="fa fa-plus"></i>
                %ul.dropdown-menu{role: "menu"}
                  %li= link_to "New offer", new_user_offer_path(current_user)
                  %li= link_to "New #{name_for('wanted')}", new_user_wanted_path(current_user)
              %li
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  <i rel="tooltip" title="Profile" class="fa fa-user"></i>
                %ul.pull-right.dropdown-menu{role: "menu"}
                  %li= link_to(current_user.name, current_user)
                  %li= link_to "Sign Out", sign_out_path, id: "sign_out"

          - else
            = link_to "Sign in or sign up", sign_in_path, class: "btn btn-primary btn-lg sign-in-btn", role: "button"
