%auth
  - if current_user
    Hi, <b>#{current_user.name}</b>!
    = link_to "Sign out.", signout_path, id: "sign_out"
  - else
    = link_to "Sign in", my_facebook_auth_path, id: "sign_in"

%nav
  - if current_user
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Profile", current_user
      %li= link_to "My offers", user_proposals_path(current_user)
  - else
    = link_to "Home", root_path
