%h4 What can I offer?
%p
  There are two questions you should ask yourself when deciding whether
  to offer something:
%ul
  %li Will others find it valuable?
  %li Is it legal?
%p
  If you answered “yes” to both questions, go ahead! If you didn't, try
  to come up with something else.

%h4 How much does it cost?
%p Nothing! Everything is free.

%h4 Who is the site for?
%p
  The site is aimed at #{link_to("effective altuists", "https://www.effectivealtruism.org/")}—
  people who want to help others in the most effective ways possible.

%h4 What data about me do you store?
%p
  When you send someone an offer or request, we store only the metadata
  (e.g., who sent it, when it was sent), not the message itself. When
  you reply to a message someone sent you regarding an offer or request
  you placed on the site, your response goes directly to the recipient,
  so we don't have any record of it at all.

%h4 How do I add formatting my offers and requests?
%p
  You can use
  #{link_to("Markdown", "http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet")}
  to add links, bulleted lists, and other formatting to your offers, requests, and profile.

%h4 How can I help?
%p Thanks for asking! There are several ways:
%ul
  %li
    %strong Post useful offers.
    The site works only as long as people are willing to contribute.
  %li
    %strong See if you can fulfill any requests.
    You can be notified of new requests by
    #{link_to "Twitter", "https://twitter.com/Skillshare_im"}
    or #{link_to("RSS", proposals_atom_path(format: :atom))}.
  %li
    %strong Take people up on their offers.
    Don't be shy about asking for stuff on the site—that's why people put it there!
  %li
    %strong Improve the site.
    If you know Ruby on Rails or front-end web
    development and want to make the site better, grab the code
    #{link_to("here", "https://github.com/patbl/ea-skillshare")}
    or #{link_to("send us an e-mail", "mailto:pbrinichlanglois@gmail.com")}.

%h4 What if I don't have anything to offer?
%p
  Everybody has something! But if you don't, you're still welcome to use the site.

%h4 Why not buy and sell goods and services through oridinary markets?
%p
  That's a great option for a lot of things. If you need nourishment,
  visit the supermarket; if you need medical care, see your doctor. But there are several reasons
  you might consider Skillshare.im instead:

%ul
  %li
    %strong Friends.
    You're more likely to build relationships with people
    you meet on Skillshare.im than with people you have private
    transactions with.
  %li
    %strong Non-market goods.
    Certain things, like career advice or study
    buddies, are hard to buy. Skillshare.im helps you connect with
    people who offer these things.
  %li
    %strong Flexibility.
    While in theory you could work longer hours and
    donate the extra money to charity, this often isn't possible. Many
    people have salaries, or work on schedules set by their employers.
    Offering your skills for free to other altruists lets you continue
    doing good after hours.
  %li
    %strong Tax savings.
    If you sell your services, some of that money will go to
    taxes. If you donate the money you earn, you may decrease the amount
    you owe in taxes, but usually you still pay something.
  %li
    %strong Community.
    By participating in Skillshare.im, you're helping the
    effective-altruism movement grow.

%h4 Why isn't my profile picture showing?
%p

  If you didn't sign in with Facebook, you'll need use Gravatar to
  display a profile picture. Go to
  #{link_to("Gravatar", "http://gravatar.com")}, create an account
  (using the same e-mail address you used on Skillshare.im), and
  upload your picture there.

%h4 I have a suggestion for the site.
%p
  Great! #{link_to("Let us know", "mailto:pbrinichlanglois@gmail.com")}.

%h4 How can I sound more like Shakira when I sing?
%p
  Spanish accent and make everything you say sound really cool and funky
  (#{link_to("source", "http://answers.yahoo.com/question/index?qid=20091122120932AAuIAg5")}).
