%h4 Hey, #{@user.first_name},

%p.lead We're just letting you know what's been posted recently on #{link_to "Skillshare.im", "http://skillshare.im"}.

- unless @offers.empty?
  %h4 New offers
  %ul.callout
    - @offers.each do |offer|
      %li= link_to offer.title, offer_url(offer)

- unless @wanteds.empty?
  %h4 New #{name_for('wanted', plural: true)}
  %ul.callout
    - @wanteds.each do |wanted|
      %li= link_to wanted.title, wanted_url(wanted)

%p= link_to "Unsubscribe", unsubscribe_url(@subscription.secure_key)
