.col-md-4
  .proposal
    .main
      .row
        .col-md-8
          %h3
            = link_to proposal.title.titleize, proposal
        .col-md-4
          .btn.btn-danger.btn-small 
            <i class="fa fa-envelope"></i>
            Request
      %p
        = proposal.description
    .info
      .left
        .user
          = link_to image_tag(proposal.user.picture("small")), proposal.user
          = link_to proposal.user.name, proposal.user
      .right
        .location
          <i class="fa fa-map-marker"></i>
          = proposal.location
        .category
          - category = proposal.category_list.first
          = raw(category_tag(category))
          = link_to category, proposals_path(category: category)

