%tr.proposal
  %td
    .user
      = link_to image_tag(avatar_url(proposal.user)), proposal.user
  %td
    .row
      .col-sm-9
        %h3
          = link_to(proposal.title, proposal)
      .col-sm-3
        .proposal-btn
          = proposal.button

    = markdown(truncate(proposal.description, length: local_assigns.fetch(:description_size, Float::INFINITY)))

    .row
      .col-sm-12
        .info
          .name
            = link_to proposal.user.full_name, proposal.user
          .category
            - category = proposal.category_list.first
            = raw(category_tag(category))
            = link_to category, proposals_path(category: category)
          .date
            = fa_tag("calendar-o")
            = time_ago_in_words(proposal.created_at) + " ago"
    .request{ class: "hidden" }
      = render partial: "messages/form", locals: {proposal: proposal}
