%h1 Edit
= simple_form_for(@proposal) do |f|
  = f.error_notification
  = f.input :title
  = f.input :category
  = f.input :location, as: :radio_buttons, collection: [@user.location, "Anywhere"],
      checked: @proposal.location || @user.location
  = f.input :description
  = f.hidden_field :offer, value: true
  = f.button :submit, "Save"
