.home
  - unless current_user
    .landing
      .heading
        %h1
          Sharing Between Effective Altruists!
        %h3
          Coffee - Lodging - Mentorship - Capital - Used Goods - Connections - Online Labor

  .row.proposals-table-outer
    .col-md-6
      %h2 
        = link_to 'Offers', offers_path
      %table.table.proposals-table
        %tbody
          - @offers.each do |proposal|
            - if proposal
              = render partial: "proposals/proposal", locals: { proposal: proposal, description_size: 110  }
      %h2 
        = link_to 'More Offers', offers_path

    .col-md-6
      %h2
        = link_to name_for('wanted', plural: true).titleize, wanteds_path
      %table.table.proposals-table
        %tbody
          - @wanteds.each do |proposal|
            - if proposal
              = render partial: "proposals/proposal", locals: { proposal: proposal, description_size: 150 }
      %h2
        = link_to 'More ' + name_for('wanted', plural: true).titleize, wanteds_path
        
