.home
  - unless current_user
    .landing
      .heading
        %h1
          Sharing Between Effective Altruists!
        .home-categories-outer
          .home-categories
            - ApplicationHelper::CATEGORIES.each do |category|
              .category
                = link_to category.titleize, root_path(category:category)


  .row.proposals-table-outer
    .col-md-6
      %h2 
        = link_to 'New Offers', offers_path
      %table.table.proposals-table
        %tbody
          - @offers.each do |proposal|
            - if proposal
              = render partial: "proposals/proposal", locals: { proposal: proposal, description_size: 110  }
      %h2 
        = link_to 'More', offers_path

    .col-md-6
      %h2
        = link_to 'New ' +  name_for('wanted', plural: true).titleize, wanteds_path
      %table.table.proposals-table
        %tbody
          - @wanteds.each do |proposal|
            - if proposal
              = render partial: "proposals/proposal", locals: { proposal: proposal, description_size: 150 }
      %h2
        = link_to 'More ', wanteds_path
        
