.home
  .landing
    - unless current_user
      .heading
        %h1
          Sharing Between Effective Altruists!
    .home-categories-outer
      .home-categories
        - ApplicationHelper::CATEGORIES.each do |category|
          .category
            = link_to category.titleize, root_path(category:category)

  .row.proposals-table-outer
    .col-md-6
      - if @offers.count > 0
        %h2
          = link_to 'New Offers', offers_path
        %table.table.proposals-table
          %tbody
            - @offers.each do |offer|
              = render partial: "proposals/proposal", locals: { proposal: offer, description_size: 110  }
        %h2
          = link_to 'More', offers_path
      - else
        %h2 No Offers in This Category

    .col-md-6
      - if @wanteds.count > 0
        %h2
          = link_to 'New ' +  name_for('wanted', plural: true, capitalized: true), wanteds_path
        %table.table.proposals-table
          %tbody
            - @wanteds.each do |wanted|
              = render partial: "proposals/proposal", locals: { proposal: wanted, description_size: 150 }
        %h2
          = link_to 'More ', wanteds_path
      - else
        %h2 No Requests in This Category
