%h1 New Offer
- if @proposal.errors.any?
  = "The form contained #{pluralize(@proposal.errors.count, 'error')}."
  - @proposal.errors.full_messages.each do |msg|
    = msg
= form_for([@user, @proposal]) do |f|
  = f.label :title, "Title"
  = f.text_field :title

  = f.label :category
  = f.text_field :category

  = f.label :location
  = f.text_field :location, value: @user.location

  = f.label :description
  = f.text_area :description

  = f.hidden_field :offer, value: true

  = f.submit "Create"

