%h1 New #{@proposal.noun}
.row
  .col-md-4
    = simple_form_for([@user, @proposal]) do |f|
      = f.error_notification
      = f.input :title
      = f.input :category_list, collection: @categories, label: "Category"
      = f.input :description, input_html: { rows: 5 }, label: "Description (use Markdown for formatting)"
      %br
      = f.button :submit, "Create"
