%h1 A new proposal
%p Need a form or summat
= form_tag user_proposals_path, method: :post do
  = label_tag :title, "Title"
  = text_field_tag :title
  = label_tag :location
  = text_field_tag :location
  -# FIXME
  %br
  %br
  %br
  = label_tag :description
  = text_area_tag :description

