%h2#title= @proposal.title
#name= link_to @user.name, @user
#location= @proposal.location
#category= @proposal.category_list
#description= markdown(@proposal.description)
- if @user == current_user
  = link_to 'Edit', edit_proposal_path(@proposal.user, @proposal)
  = link_to 'Delete', @proposal, method: :delete, data: { confirm: "Are you sure you want to delete this?" }
- else
  = link_to "Send #{@user.name} a message", new_proposal_message_path(@proposal)
