%h2#title= @proposal.title
#description= markdown(@proposal.description)
#location= @proposal.location
= link_to 'Edit', edit_user_proposal_path(@proposal.user, @proposal)
= link_to 'Delete', [@proposal.user, @proposal], method: :delete, data: { confirm: "Are you sure you want to delete this?" }
