%tr.proposal
  %td
    .user
      = link_to image_tag(avatar_url(offer.user, "square")), offer.user
  %td
    .row
      .col-sm-9
        %h3
          = link_to(offer.title, offer)
      .col-sm-3
        .proposal-btn
          = offer.button

    = markdown(offer.description)
    .request{ class: "hidden" }
      = render partial: "messages/form", locals: {offer: offer}
  %td
    .info
      - unless offer.location == "Anywhere"
        .location
          <i class="fa fa-map-marker"></i>
          = offer.location
  %td
    .info
      .category
        - category = offer.category_list.first
        = raw(category_tag(category))
        = link_to category, offers_path(category: category)
