%tr.proposal
  %td
    .user
      = link_to image_tag(avatar_url(offer.user, "square")), offer.user
  %td
    .row
      .col-sm-9
        %h3
          = link_to(offer.title, wanted_path(offer))
      .col-sm-3
        .proposal-btn
          = offer.button

    = markdown(offer.description)
    .request{ class: "hidden" }
      = render partial: "messages/form", locals: {proposal: offer}
  %td
    .info
      - unless offer.location == "Anywhere"
        .location
          = fa_tag("map-marker")
          = offer.location
  %td
    .info
      .category
        - category = offer.category_list.first
        = raw(category_tag(category))
        = link_to category, proposals_path(category: category)
