:javascript
  window.app = window.app || {};
  window.app.railsEnv = "#{Rails.env}";

= favicon_link_tag "favicon.ico"

= stylesheet_link_tag "application", media: "all"
%link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oregano" }

= javascript_include_tag "application"
%script{ src: "//platform.twitter.com/widgets.js" }

= auto_discovery_link_tag(:atom, proposals_atom_url(format: "atom"))
= csrf_meta_tags

= content_for :head
