%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title Skillshare.im - #{yield(:title).presence || "Sharing Between Effective Altruists" }
    = render 'layouts/dependencies'

  %body
    %div#fb-root

    %div#feedback
      %a{href: "mailto:#{ENV['SUPPORT_EMAIL']}?subject=Skillshare.im feedback", target: "_blank"} feedback

    = render "shared/banner"

    #wrap
      = render "shared/header"

      .container
        - flash.each do |name, msg|
          %div{ class: alert_type(name) }= msg

      .container
        = yield

    = render "shared/footer"

    %footer
      = render "layouts/analytics_tracking"

      = yield :footer

    - unless signed_in?
      %div#dialog{title: "Sign in or sign up"}
        = render "shared/sign_in"
