!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Skillshare.im - #{yield(:title).presence || "Sharing Between Effective Altruists"}
    = favicon_link_tag "favicon.ico"

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oregano", rel: "stylesheet"}
    %link{href: "http://cdn.leafletjs.com/leaflet-0.7/leaflet.css", rel: "stylesheet" }

    %script{src: "http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{src: "//platform.twitter.com/widgets.js"}
    = javascript_include_tag "facebook_like"

    = auto_discovery_link_tag(:atom, offers_atom_url(format: "atom"))
    = csrf_meta_tags

  %body
    %div#fb-root

    #wrap
      = render "shared/header"

      .container
        - flash.each do |name, msg|
          %div{ class: alert_type(name) }= msg

      .container
        = yield

    = render "shared/footer"

    %footer
      = render "layouts/analytics_tracking"

      = yield :footer

    - unless signed_in?
      %div#dialog{title: "Sign in or sign up"}
        = render "shared/sign_in"
