!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Skillshare.im
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oregano' rel='stylesheet' type='text/css'>
    = csrf_meta_tags
  %body
    #wrap
      = render "shared/header2"

      .container
        - flash.each do |name, msg|
          %div{ class: alert_type(name) }= msg

      .container
        = yield

    = render "shared/footer"

    %footer
      = render "shared/analytics"
