!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Skillshare.im
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap
      = render "shared/header"

      - flash.each do |name, msg|
        %div{ class: alert_type(name) }= msg

      .container
        = yield

    = render "shared/footer"

    %footer
      = render "shared/analytics"
