!!!
%html
  %head
    %title EA Skillshare
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if flash[:notice]
      #notice= flash[:notice]
    #user_nav
      - if current_user
        %div
          Signed in as <b>#{current_user.name}</b>!
        %div
          = link_to "Sign out", signout_path, id: "sign_out"
        %div
          -# = link_to "View profile", current_user
      - else
        = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"
    = yield
