!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title Sharing is Caring
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if Rails.env.production?
      %h1{style: "color: red"} ¡Not ready yet!
      %h4 Feel free to play around, but be aware that anything you save will be deleted several times over.

    = render "shared/header"

    - flash.each do |name, msg|
      %div{ class: alert_type(name) }= msg

    = yield

